body, html {
	background-image : url("wallpapersite.jpg");
	background-attachment : fixed;
	min-height : 100%;
	background-repeat : no-repeat;
	background-size : 100%;
	}

#menu {
	background-color : rgb(10,10,10);
	width : 70%;
	margin : auto;
	color : white;
	height : 100%;
	border : 4px double silver;
	border-radius : 10px;
	text-align : center;
	}

#bouton {
	min-width : 175px;
	font-size : 20px;
	float : left;
	position : absolute;
	background-color : rgb(10,10,10);
	border : 4px double silver;
	border-radius : 10px;
	}

.tableaux{
	display:inline-block;
	vertical-align:top;
}
td {
	height : 45px;
	width : 130px;
	}
.couleurs{
	width : 10%;
}

.valider {
	text-align : right;
	}

#couleur {
	width : 81.5%;
	margin : auto;
	}
table {
	border : 1px solid silver;
	border-collapse: collapse;
}
