th, td {
	width : 50%;
	}

td {
	text-align : center;
	}

h1 { 
	text-align : center;
	}

table {
	margin : auto;
	}

body {
	background-image: url("wallpapersite.jpg");
	}

.menu {
	background-color : rgb(58,58,58);
	width : 60%;
	margin : auto;
}
