body, html {
	background-image: url("wallpapersite.jpg");
	background-attachment : fixed;
	height : 98%;
	}

#menu {
	background-color : rgb(10,10,10);
	width : 50%;
	margin : auto;
	color : white;
	height : 100%;
	border : 4px double silver;
	border-radius : 10px;
}

table {
	margin : auto;
	}

#gauche {
	text-align : right;
	}

#droite {
	text-align : left;
	}
td {
	text-align : center;
	}
